  RewriteEngine On
  RewriteRule ^eventos/mahle/?$ eventos/mahle/mahle.html [L]
  RewriteRule ^eventos/jae/?$ eventos/jae/jae.html [L]
  RewriteRule ^eventos/box7/?$ eventos/box7/box7.html [L]
  RewriteRule ^eventos/cdl/?$ eventos/cdl/cdl.html [L]
  

